<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Section Membre</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        alert("ready");
        $("button#charger").click(function(){
        alert('charger');
        $.ajax(
        {
        url: '/Mystere/',
        type: 'GET',
        contentType: 'application/json',
        async: false,
        success: function(base64)
        {
        alert('Succes!');
        $("img#base64").attr("src",base64);
        },
        error: function (xhr, status, error)
        {
        alert("Erreur!");
        }
        });
        });
        });
    </script>

</head>
<body>
<h1>Section Membre</h1>
<div sec:authorize="isAuthenticated()">
    <h2><span sec:authentication="name"></span>
        <span sec:authentication="principal.authorities">[ROLE_USER,ROLE_ADMIN]</span>
    </h2>
</div>
<p>Click <a th:href="@{/publique}">ici</a> vers section publique.</p>
<div sec:authorize="hasAuthority('ADMIN')">
    <p>Click <a th:href="@{/admin}">ici</a> vers section admin.</p>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    Ce div est visible uniquement pour le rôle ADMIN.
</div>
<button id="charger">Charger image mystère uniquement permis pour ADMIN</button><br />
<img id="base64" />
<div sec:authorize="isAuthenticated()">
    <hr />
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Fin de la session"/>
    </form>
</div>

</body>
</html>